DB_URL=
DB_USERNAME=
DB_PASSWORD=

AWS_REGION=ap-northeast-2
S3_BUCKET_NAME=hackathon6-s3
S3_ORIGINALS_PREFIX=originals/
S3_RESULTS_PREFIX=results/
S3_MODELS_PREFIX=models/
S3_PRESIGNED_EXPIRES_SECONDS=600
