DB_URL=
DB_USERNAME=
DB_PASSWORD=

AI_BASE_URL=http://localhost:8000
AI_CONNECT_TIMEOUT=2s
AI_READ_TIMEOUT=30s

AWS_REGION=ap-northeast-2
S3_BUCKET_NAME=hackathon6-s3
S3_ORIGINALS_PREFIX=originals/
S3_RESULTS_PREFIX=results/
S3_MODELS_PREFIX=models/
S3_PRESIGNED_EXPIRES_SECONDS=600

NAVER_OCR_INVOKE_URL=
NAVER_OCR_SECRET_KEY=
